.col-md-12
  p#notice
    = notice
  h1.text-center Lista de Anúncios Gerados
  table.table
    thead
      tr
        th
          = sortable "title", "Título"
        th
          = sortable "price", "Preço"
        th
          = sortable "olx_id", "ID OLX"
        th
          = sortable "is_new", "É novo?"
        th colspan="3" Ações
    tbody
      - @ads.each do |ad|
        tr
          td
            = ad.title
          td
            = ad.price
          td
            = ad.olx_id
          td
            - if ad.is_new
              | Sim
            - else
              | Não
          td
            = link_to 'Ver anúncio ', ad.olx_url, target: "_blank"
            | |
            = link_to ' Destruir', ad, method: :delete, data: { confirm: 'Certeza?' }
  = paginate @ads
